<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <title>Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/tooplate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/form.css') }}">
  </head>

 <body id="reportsPage">
    <div class="" id="home">
        <div class="container">
            <!--search form design-->
            <div class="row">
            	<div class="col-12">
            		<div class="s002">
			            <form action = "/result" method = "POST">
			            	<fieldset> <legend>Event Detection and Visualization</legend></fieldset>
			            	<div class="inner-form">
			            		<div class="input-field first-wrap">
			            			<input id="search" type="text" placeholder="Write Event Name" name="term" />
			            		</div>

			            		<!--<div class="input-field second-wrap">
			            			<div class="icon-wrap">
			            				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
			            					<path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
			            				</svg>
			            			</div>
			            			<input class="datepicker" id="depart" type="date" placeholder="Start date" name="date" />
			            		</div>

                                <div class="input-field second-wrap">
			            			<div class="icon-wrap">
			            				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
			            					<path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
			            				</svg>
			            			</div>
                                    <input class="datepicker" id="depart1" type="date" placeholder="End date" name="Enddate" />
			            		</div>-->


			            		<div class="input-field third-wrap">
			            			<input type="number" placeholder="Number of Snippets 3 to 10" name="quantity" min="1" max="10" />
			            		</div>

			            		<div class="input-field fifth-wrap">
			            			<button class="btn-search" type="submit">SEARCH</button>
			            		</div>
			            	</div>
			            </form>
			        </div>
	            </div>
            </div>



            <!-- body row -->
            <div class="row tm-content-row tm-mt-big">
                
		  <div class="tm-col tm-col-big11">
                    <div class="bg-white tm-block h-100">
                        <table border="1" class="dataframe">
                            <tbody>
                            <th>Snippets</th>
                            {% for row  in result %}
                                <tr>
                                    <td>{{row}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
		    
                <div class="tm-col tm-col-small">
                    <div class="bg-white tm-block h-100">
                        <table border="1" class="dataframe">
                            <tbody>
                            <th>Input</th>
                            <tr>
                                <th> Term </th>
                                <td>{{a}}</td>
                            </tr>
                            <!--<tr>
                                <th> Start Date </th>
                                <td>{{b}}</td>
                            </tr>
                            <tr>
                                <th> End Date </th>
                                <td>{{d}}</td>
                            </tr>-->
                            <tr>
                                <th> Number of snippets </th>
                                <td>{{c}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tm-col tm-col-big1">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Event List</h2>
                        <!--{{lda_topics}}
                        <h2 class="tm-block-title">TF-IDF topics</h2>
                        {{tf_Idf_topics}}-->

                         <table border="1" class="dataframe1">
                            <tbody>
                            <tr></tr>
                            {% for row  in lda_topics %}
                            	<tr>
	                                <td>{{row}}</td>
	                            </tr>
	                           {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tm-col tm-col-big2">
                    <div class="bg-white tm-block h-100">
                        <div class="row">
                            <div class="col-8">
                                <h2 class="tm-block-title d-inline-block">Event presented as wordcloud</h2>
                                <img src="{{ user_image }}" alt=" " width="480px" height="480px">

                            </div>
                        </div>
                    </div>
                </div>

                  <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <div class="row">
                            <div class="col-12">
                            	<!--<div>
                            		<h2 class="tm-block-title d-inline-block">line chart</h2>
                            	</div>-->
                                <canvas id="myChart" width="600" height="400"></canvas>
                                <p id="caption">The chart is displaying highest frequent terms</p>
                                <script>
                                    var ctx = document.getElementById("myChart").getContext('2d');
                                    var myChart = new Chart(ctx, {
                                        type: 'bar',
                                        data: {
                                            labels : [{% for item in labels %}
                                                            "{{item}}",
                                                            {% endfor %}],
                                            /*labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],*/
                                            datasets: [{
                                                label: '# of Term Frequency',
                                                data: [{% for item in values %}
                                                            "{{item}}",
                                                            {% endfor %}],
                                                backgroundColor: [
                                                    'rgba(255, 99, 132, 0.2)',
                                                    'rgba(54, 162, 235, 0.2)',
                                                    'rgba(255, 206, 86, 0.2)',
                                                    'rgba(75, 192, 192, 0.2)',
                                                    'rgba(153, 102, 255, 0.2)',
                                                    'rgba(255, 159, 64, 0.2)'
                                                ],
                                                borderColor: [
                                                    'rgba(255,99,132,1)',
                                                    'rgba(54, 162, 235, 1)',
                                                    'rgba(255, 206, 86, 1)',
                                                    'rgba(75, 192, 192, 1)',
                                                    'rgba(153, 102, 255, 1)',
                                                    'rgba(255, 159, 64, 1)'
                                                ],
                                                borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero:true
                                                    }
                                                }]
                                            }
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!--End of body row-->

        </div> <!--End of Container-->
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
